{
    "presets": [
        [
            "@babel/preset-env"
        ],
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ],
        "@babel/typescript"
    ],
    "env": {
        "production": {
            "plugins": [
                "@emotion"
            ]
        }
    },
    "plugins": [
        "@emotion"
    ]
}