# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store

# jest
/jest

# cypress
cypress/videos
cypress/screenshots
cypress/log
.nyc_output

### yarn ###
# Zero-Install 사용
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules